mixin list
	ul
		li
			a(href='index.html') Главная
		li
			a(href='shedule.html') Мое расписание
		li
			a(href='photo.html') Фотоальбом
		li
			a(href='news.html') Последние новости
		li
			a(href='video.html') Видео