doctype html
html
  include head.jade
  include mixins.jade
  body
    h1
      b Личная страница (блог) ХЕК
    header
      nav
        mixin list
    main
      section
        h1 Мое расписание
        table(border='1')
          tr
            th Время пары
            th Вторник
            th Среда
            th Четверг
            th Пятница
            th Суббота
          tr
            td 9:35-10:55
            td  
            td  
            td  
            td  
            td Констр. програм. обеспеч.(Л, 62(1), Мыльцев) 
          tr
            td 11:25-12:45
            td Front-end тех. (37(1), Козлова) 
            td Осн. програм. инженер. (37(1), Козлова) 
            td Teория вероятности (62(1), Левчук)
            td Практикум (37(1), Мухин)
            td Констр. програм. обеспеч. (62(1), Мыльцев)
          tr
            td 12:55-14:15
            td Интернет (Л, 54(1), Лисняк)
            td Осн. програм. инж. (37(1), Козлова)
            td Практикум (40(1), Мухин)
            td Практикум (37(1), Мухин) 
            td Теория вероятности (40(1), Левчук) 
          tr
            td 14:30-15:50
            td  
            td  
            td Осн. програм. инж. (Л, 62(1), Чопоров)
            td Английский (310(6), Медведева) 
            td  
      section
        h2
          b Мои преподаватели:
        ol
          li Козлова О.С.
          li Лисняк А.А.
          li Кривохата А.Г.
      block footer
      include footer.jade
